
.explorerSidebar {
  grid-column-start: sidebar-start;
  grid-column-end: sidebar-end;
  grid-row-start: 1;
  grid-row-end: 3;
  border-right: solid;
  border-color: var(--header-color-2);
  box-sizing: border-box;
  /* min-width: 200px; */
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}