
.fullImage {
  background-color: var(--content-color-2);
  width: 500px;
  height: 400px;
  position: relative;
  display: block;
  margin-top: 20px;
  border: solid;
  border-color: var(--content-color-1);
}

.fullImage > img {
  object-fit: contain;
}

.thumbBar {
  background-color: var(--content-color-2);
  margin-bottom: 10px;
  width: 500px;
  height: 80px;
  border: solid;
  border-color: var(--content-color-1);
  display: flex;
  justify-content: flex-start;
}

.thumbBox {
  position: relative;
  width: 20%;
}

.thumbBox > img {
  object-fit: contain;
}

