.reportUploadViewCard {
  grid-row-start: info-bar-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.reportUploadContainer {
  background-color: var(--content-color-2);
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
  height: 500px;
  display: grid;
  grid-template-columns: 65% auto;
  grid-template-rows: 65% auto;
}

.previewContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.fileTypeSelector {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;
  border: solid var(--content-color-1);
}

.uplodImagesForm {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: solid var(--content-color-1);
  border-left: solid var(--content-color-1);
  border-bottom: solid var(--content-color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.uplodImagesForm div {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.uploadFunction {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.uplodImagesForm textarea {
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
}